.lotus-bookshelf-header {
  font-size: 24px;
  padding: 20px 0;
}


.lotus-bookshelf-header h1 {
  margin: 0;
}

.lotus-bookshelf-header a {
  text-decoration: none;
}

.bg-info {
  z-index: -5;
}

header .lotus-signin-modal {
  z-index: 10
}

header .open-signin-modal {
  margin-bottom: -70px;
  margin-top: 24px;
}
