<div class="container lotus-book-container">
  <div class="lotus-book-create">
    <!--  Dua vao link nay http://lotusrb.org/guides/command-line/routes/
      thi routes.url(:new_books) nhung neu :new_books thi se loi
      khi chuyen thanh routes.url(:new_book) thi work duoc
    -->
    <%= link_to 'Create A New Book', routes.url(:new_book), class: 'btn btn-lg btn-primary' %>
  </div>
  <div>
    <ul class="list-group lotus-book-list">
      <li class="list-group-item">
        Cras justo odio
        <span>
          <a>Edit</a>
          <a>Delete</a>
        <span>
      </li>
      <li class="list-group-item">
        Cras justo odio
        <span>
          <a>Edit</a>
          <a>Delete</a>
        <span>
      </li>
      <li class="list-group-item">
        Cras justo odio
        <span>
          <a>Edit</a>
          <a>Delete</a>
        <span>
      </li>
      <li class="list-group-item">
        Cras justo odio
        <span>
          <a>Edit</a>
          <a>Delete</a>
        <span>
      </li>
      <li class="list-group-item">
        Cras justo odio
        <span>
          <a>Edit</a>
          <a>Delete</a>
        <span>
      </li>
      <li class="list-group-item">
        Cras justo odio
        <span>
          <a>Edit</a>
          <a>Delete</a>
        <span>
      </li>
      <li class="list-group-item">
        Cras justo odio
        <span>
          <a>Edit</a>
          <a>Delete</a>
        <span>
      </li>
      <li class="list-group-item">
        Cras justo odio
        <span>
          <a>Edit</a>
          <a>Delete</a>
        <span>
      </li>
      <li class="list-group-item">
        Cras justo odio
        <span>
          <a>Edit</a>
          <a>Delete</a>
        <span>
      </li>
      <li class="list-group-item">
        Cras justo odio
        <span>
          <a>Edit</a>
          <a>Delete</a>
        <span>
      </li>
    </ul>
  </div>
  <div>
    <nav>
      <ul class="pagination pull-right">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
