<div class="container">
  <div class="row">
    <%=
      form_for :book, routes.path(:books) do

        div class: 'form-group' do
          label :description
          text_area :description, required: true, class: 'form-control', id: 'description', placeholder: 'Description'
        end

        div class: 'form-group' do
          label :link
          text_field :link, required: true, class: 'form-control', id: 'link', placeholder: 'Link'
        end

        div class: 'form-group' do
          label :publisher
          text_field :publisher, required: true, class: 'form-control', id: 'publisher', placeholder: 'Publisher'
        end

        div class: 'form-group' do
          label :author
          text_field :author, required: true, class: 'form-control', id: 'author', placeholder: 'Author'
        end

        div class: 'form-group' do
          label :isbn
          text_field :isbn, required: true, class: 'form-control', id: 'isbn', placeholder: 'ISBN'
        end

        div class: 'form-group' do
          label :pages
          number_field :pages, required: true, class: 'form-control', id: 'pages', placeholder: 'Pages'
        end

        div class: 'form-group' do
          label :year
          text_field :year, required: true, class: 'form-control', id: 'year', placeholder: 'Year'
        end

        div class: 'form-group' do
          label :language
          text_field :language, required: true, class: 'form-control', id: 'language', placeholder: 'Language'
        end

        div class: 'form-group' do
          label :size
          text_field :file_size, required: true, class: 'form-control', id: 'size', placeholder: 'Size'
        end

        div class: 'form-group' do
          label :type
          number_field :file_type, required: true, class: 'form-control', id: 'type', placeholder: 'Type'
        end

        div class: 'form-group' do
          submit 'Create', class: 'btn btn-default'
          link_to 'Back', routes.path(:books)
        end
      end
    %>
  </div>
</div>
