<div class="container lotus-book-container">

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <a href="http://localhost:2300/book" class="thumbnail">
        <img src="../public/images/image-default.jpg" alt="lotus bookshelf">
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="http://localhost:2300/book" class="thumbnail">
        <img src="../public/images/image-default.jpg" alt="lotus bookshelf">
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="http://localhost:2300/book" class="thumbnail">
        <img src="../public/images/image-default.jpg" alt="lotus bookshelf">
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="http://localhost:2300/book" class="thumbnail">
        <img src="../public/images/image-default.jpg" alt="lotus bookshelf">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <a href="http://localhost:2300/book" class="thumbnail">
        <img src="../public/images/image-default.jpg" alt="lotus bookshelf">
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="http://localhost:2300/book" class="thumbnail">
        <img src="../public/images/image-default.jpg" alt="lotus bookshelf">
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="http://localhost:2300/book" class="thumbnail">
        <img src="../public/images/image-default.jpg" alt="lotus bookshelf">
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="http://localhost:2300/book" class="thumbnail">
        <img src="../public/images/image-default.jpg" alt="lotus bookshelf">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <a href="http://localhost:2300/book" class="thumbnail">
        <img src="../public/images/image-default.jpg" alt="lotus bookshelf">
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="http://localhost:2300/book" class="thumbnail">
        <img src="../public/images/image-default.jpg" alt="lotus bookshelf">
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="http://localhost:2300/book" class="thumbnail">
        <img src="../public/images/image-default.jpg" alt="lotus bookshelf">
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="http://localhost:2300/book" class="thumbnail">
        <img src="../public/images/image-default.jpg" alt="lotus bookshelf">
      </a>
    </div>
  </div>

</div>
